In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from word2number import w2n

In [2]:
df = pd.read_csv('marks.csv')
df

  Roll_no  Written_marks  Oral_marks  total_marks
0     one            9.0           8           17
1     two            7.0          10           17
2   three            2.0           2            4
3    four            NaN           6            6
4    five            NaN           5            5
5     six            3.0           2            5
6   seven            4.0           4            8
7   eight            4.0           3            7

In [3]:
df.Written_marks = df.Written_marks.fillna('0')
df

  Roll_no Written_marks  Oral_marks  total_marks
0     one           9.0           8           17
1     two           7.0          10           17
2   three           2.0           2            4
3    four             0           6            6
4    five             0           5            5
5     six           3.0           2            5
6   seven           4.0           4            8
7   eight           4.0           3            7

In [4]:
df.Roll_no = df.Roll_no.apply(w2n.word_to_num)
df

   Roll_no Written_marks  Oral_marks  total_marks
0        1           9.0           8           17
1        2           7.0          10           17
2        3           2.0           2            4
3        4             0           6            6
4        5             0           5            5
5        6           3.0           2            5
6        7           4.0           4            8
7        8           4.0           3            7

In [5]:
import math
median = math.floor(df['total_marks'].mean())
median

8

In [6]:
reg = linear_model.LinearRegression()
reg.fit(df[['Roll_no', 'Written_marks', 'Oral_marks']], df['total_marks'])

LinearRegression()

In [7]:
reg.predict([[4, 5, 6]])

array([11.])

In [8]:
reg.predict([[5,4,8]])

array([12.])

In [ ]:
reg.score